<h1 fxLayoutAlign="center">{{title}}</h1>
<h1><u>CSS-TRICKS</u></h1>
<ul class="flex-container">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>

<h4>Navigation</h4>
<ul class="navigation">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Products</a></li>
  <li><a href="#">Contact</a></li>
</ul>

<h4>Mobile-First</h4>
<div class="wrapper">
  <header class="header">Header</header>
  <article class="main">
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
  </article>
  <aside class="aside aside-1">Aside 1</aside>
  <aside class="aside aside-2">Aside 2</aside>
  <footer class="footer">Footer</footer>
</div>

<!-- Demos of Flex-Layout -->

<hr>
<h1><u>Demos</u></h1>
<h2>Layout Children with 'layout-align'</h2>
<p><strong>fxLayoutAlign</strong> aligns it's children.</p>
<p>fxLayoutAlign="horizontal vertical"</p>
<ul>
  <li>[c c] => [center center]</li>
  <li>[s s] => [start start]</li>
  <li>[c s] => [center start]</li>
  <li>[s c] => [start center]</li>
  <li>[e e] => [end end]</li>
</ul>
<div class="colorNested">
  <div class="blocksContainer"
    fxLayout="row"
    fxLayoutAlign="space-between "
    fxFill
    >
    <div class="blocks red" fxLayoutAlign="center center">[c c]</div>
    <div class="blocks green" fxLayoutAlign="start start">[s s]</div>
    <div class="blocks yellow" fxLayoutAlign="start center">[s c]</div>
    <div class="blocks purple" fxLayoutAlign="center start">[c s]</div>
    <div class="blocks blue" fxLayoutAlign="end end">[e e]</div>
  </div>
</div>

<h2>Layout Fill</h2>
<p>Using <strong>fxFill</strong> to fill available width and height of parent container.</p>
<div class="colorNested">
  <div class="blocksContainer">
    <div class="blocks green" fxFlex="20">A</div>
    <div class="blocks blue" fxFlex>B</div>
  </div>
</div>

<h2>Layout Gap</h2>
<p>Using <strong>fxLayoutGap</strong> to create a grid-like layout</p>
<div class="colorNested">
  <div fxFill>
    <div
      fxFill
      fxLayout="row wrap"
      fxLayoutGap="10px grid"
      >
      <div fxFlex="25">
        <div class="green" fxFill fxLayoutAlign="center center">A</div>
      </div>
      <div fxFlex="25">
        <div class="yellow" fxFill fxLayoutAlign="center center">B</div>
      </div>
      <div fxFlex="25">
        <div class="blue" fxFill fxLayoutAlign="center center">C</div>
      </div>
      <div fxFlex="25">
        <div class="purple" fxFill fxLayoutAlign="center center">D</div>
      </div>
      <div fxFlex="25">
        <div class="red" fxFill fxLayoutAlign="center center">D</div>
      </div>
      <div fxFlex="25">
        <div class="blue" fxFill fxLayoutAlign="center center">E</div>
      </div>
      <div fxFlex="25">
        <div class="yellow" fxFill fxLayoutAlign="center center">F</div>
      </div>
    </div>
  </div>
</div>

<h2>'Flex' to Fill Row</h2>
<p>Simple row using <strong>"fxFlex"</strong> on 3rd element to fill avaiable main axis.</p>
<div class="colorNested">
  <div fxFill>
    <div class="green" fxFlex="30">fxFlex = "30"</div>
    <div class="red" fxFlex="40">fxFlex = "40"</div>
    <div class="yellow" fxFlex>fxFlex</div>
  </div>
</div>

<h2>'Flex' with Layout-Wrap</h2>
<p>Using <strong>fxLayout="row wrap"</strong> to wrap positionsed items within a layout container</p>
<div class="colorNested">
  <div fxLayout="row wrap" fxFill>
    <div fxFlex="30">
      <div class="green" fxFill fxLayoutAlign="center center">fxFlex = "30"</div>
    </div>
    <div fxFlex="45">
      <div class="yellow" fxFill fxLayoutAlign="center center">fxFlex = "45"</div>
    </div>
    <div fxFlex="20">
      <div class="blue" fxFill fxLayoutAlign="center center">fxFlex = "20"</div>
    </div>
    <div fxFlex="35">
      <div class="purple" fxFill fxLayoutAlign="center center">fxFlex = "35"</div>
    </div>
    <div fxFlex="65">
      <div class="red" fxFill fxLayoutAlign="center center">fxFlex = "65"</div>
    </div>
    <div fxFlex="50">
      <div class="blue" fxFill fxLayoutAlign="center center">fxFlex = "50"</div>
    </div>
    <div fxFlex>
      <div class="yellow" fxFill fxLayoutAlign="center center">fxFlex</div>
    </div>
  </div>
</div>

<h2>Flex Attribute Values</h2>
<p>Explore impact o non-numerical values for the <strong>fxFlex</strong>API</p>
<div class="colorNested">
  <div fxLayout="row wrap" fxFill>
    <div fxFlex="none">
      <div class="green" fxFill>fxFlex = "none"</div>
    </div>
    <div fxFlex>
      <div class="yellow" fxFill>fxFlex</div>
    </div>
    <div fxFlex="nogrow">
      <div class="blue" fxFill>fxFlex = "nogrow"</div>
    </div>
    <div fxFlex="grow">
      <div class="red" fxFill>fxFlex = "grow"</div>
    </div>
    <div fxFlex="initial">
      <div class="green" fxFill>fxFlex = "initial"</div>
    </div>
    <div fxFlex="auto">
      <div class="blue" fxFill>fxFlex = "auto"</div>
    </div>
    <div fxFlex="noshrink">
      <div class="purple" fxFill>fxFlex = "noshrink"</div>
    </div>
    <div fxFlex="0">
      <div class="green" fxFill>fxFlex = "0"</div>
    </div>
  </div>
</div>

<h2>Flex offset Values</h2>
<p>Explore impact of values for the <strong>flex-offset</strong> API</p>
<div class="colorNested">
  <div fxFill>
    <div fxFlex="70" fxFlexOffset="15">
      <div class="purple" fxFill>
        [fxFlex="66"] [fxFlexOffset="15"]
      </div>
    </div>
    <div fxFlex>
      <div class="green" fxFill>
        fxFlex
      </div>
    </div>
  </div>
</div>

<h2>Flex with Algin-Self</h2>
<p>Explore impact of <strong>fxFlexAlign</strong> API</p>
<p><strong>fxFlexAlign</strong> aligns the element itself while <strong>fxLayoutAlign</strong> aligns its children.</p>
<div class="colorNested">
  <div fxFill fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex fxFlexAlign="start" class="blue">fxFlexAlign="start"</div>
    <div fxFlex fxFlexAlign="center" class="green">fxFlexAlign="center"</div>
    <div fxFlex fxFlexAlign="baseline" class="yellow">fxFlexAlign="baseline"</div>
    <div fxFlex fxFlexAlign="end" class="red">fxFlexAlign="end"</div>
    <div fxFlex fxFlexAlign="stretch" class="purple">fxFlexAlign = "stretch"</div>
  </div>
</div>

<h2>Direction support for RTL</h2>
<p>Simple row using layout gap and flex offset to demonstrate changes in layout direction between rtl and ltr.</p>
<button (click)="toggleDirection(dir)">Toggle Direction</button>
<div class="colorNested">
  <div fxFill fxLayout="row" dir="{{dir}}">
    <div class="green">A</div>
    <div class="red">B</div>
    <div class="blue">C</div>
  </div>
</div>

<h2>Responsive API</h2>
<div fxLayout='column' class="zero">
  <div fxFlex="33" [fxFlex.md]="box1Width" class="one green" [ngStyle.sm]="{'color': 'red'}" [ngClass.sm]="{'yellow': 'hasStyle'}">Item 1</div>
  <div fxFlex="33" [fxLayout]="direction" fxLayout.md="row" class="two yellow">
    <div fxFlex="22"    fxFlex.md="10" fxHide.sm class="two_one blue">Item 2-1</div>
    <div fxFlex="205px" fxFlex.md="65" class="two_two red">Item 2-2</div>
    <div fxFlex="30px"  fxFlex.md="25" fxShow [fxHide.md]="hideBox" class="two_three purple">Item 2-3</div>
  </div>
  <div fxFlex class="three green">Item 3</div>
</div>

<h4>Breakpoint Activation Fallback Algorithm</h4>
<div fxShow fxHide.xs="false" fxHide.lg="true">fxShow fxHide.xs="false" fxHide.lg="true"</div>

<h2>Responsive style</h2>
<strong>ngClass</strong>
<div
  class="default"
  [ngClass]="['green']"
  ngClass.xs="yellow"
  ngClass.sm="green"
  [ngClass.xs]="{'yellow':false, 'purple':true}"
  [ngClass.sm]="{'green':false, 'red':true}" >
      TESTING
</div>
